@use "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Serif", "Caveat", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: base.$primary--black;
}

a:hover,
a:focus {
  color: base.$tertiary-color;
}
